input{
    width: 15rem;
    padding: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border-radius: 10px;
    box-shadow: 0 0 8px grey;
    margin: 20px auto;
}
.button1{
    width: 70px;
    height: 35px;
    margin-left:6rem;
    font-size: 15px;
    border: none;
    box-shadow: 0 0 5px grey;
    text-align: center;
    margin-top: 1rem;
    border-radius: 10px;
    background-color: chartreuse;
    color: bisque;
}
form{
    border-color: blanchedalmond;
}

.box1{
    background-image: url(../../../assets/img/img5.avif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: dimgray;


    input{
        border: none;
        width: 300px;
    }
}