.form_button{
    border-radius: 10px;
    background-color: darkslategray;
    color: bisque;
    display: flex;
    justify-content: center;
}

.buying .btn button{
    position: relative;
    top: 183px;
    left: 250px;
}

.buying form button{
    padding-top: -2px;
    background-color: chartreuse;
    margin-left: 650px;
}